/* Mtengenezi style */
#mtengenezi .application-body .application-view .mtengenezi-header {
	margin: 0.5em 0;
}

#mtengenezi .editor {
	width: 94%;
	font-size:85%;
	float: left;
	background-color: black;
	color: white;
	padding: 1em 2.5%;
	height: 80%;
}

#mtengenezi .mtengenezi-actionPane {
	
}