/* Mwalimu style */
#mwalimu {
	overflow-y: scroll;
}

	#mwalimu .application-body .mwalimu-welcome {
		height: 23em;
	}
		.mwalimu-view {
			width: 45%;
			margin: 0.5em 2.4%;
			float: left;
		}

		.mwalimu-welcome .mwalimu-intro {


		}

			.mwalimu-intro img {
				width: 90%;
				position: relative;
				left: 5%;
				margin: 0.5em 0;
			}

		.mwalimu-welcome .mwalimu-madarasa {
			overflow-y: auto;
			height: 100%;
		}

			.mwalimu-madarasa .mwalimu-darasa {
				width: 90%;
				padding: 0.5em 5%;
				overflow: hidden;
			}

				.mwalimu-darasa img {
					width: 40%;
					margin: 0.5em 5%;
					float: left;
				}
	#mwalimu .application-body .mwalimu-darasani {
		text-align: center;
		padding: 0.5em 5%;
		width: 90%;
	}

		.mwalimu-darasani video {
			width: 70%;
			position: relative;
			left: 15%;
			top: 1em;
		}

		.mwalimu-darasani h5 {
			
		}

@media only screen and (max-width: 750px) {

}

@media only screen and (max-width: 400px) {
	.mwalimu-view {
		width: 95%;
		margin: 0.5em 2.4%;
	}
}